<section class="row mt-5">
  <div class="col-11">
    <%= form_with(model: user, url: profiles_path, method: "put") do |form| %>
      <% if params[:redirect_url].present? %>
        <input type="hidden" name="redirect_url" value="<%= params[:redirect_url] %>">
      <% end %>

      <div class="mb-4">
        <div class="d-flex justify-content-center" id="form-avatar-view">
          <% if user.avatar.attached? %>
            <div class="rounded-4 overflow-hidden" id="form-avatar-image">
              <%= image_tag user.avatar.representation(resize_to_limit: [400, 400]), class: "img-thumbnail img-avatar-profile rounded-4 p-0 border-0 overflow-hidden" %>
            </div>
          <% else %>
            <div class="form-avatar rounded-4 text-primary bg-alt-primary p-5" id="form-avatar-input">
              <i class="bi bi-camera display-6"></i>
            </div>
          <% end %>

          <%= form.file_field :avatar, direct_upload: true, class: "form-control rounded-4 p-3 d-none", id: "form-avatar", accept: "image/png, image/jpeg" %>
        </div>
      </div>

      <div class="mb-4">
        <%= form.label :name, "Nama", style: "display: block", class: "form-label" %>
        <%= form.text_field :name, class: "form-control rounded-4 p-3", placeholder: "Nama", required: true %>
        <% if user.errors.any? { |error| error.attribute.eql?(:name) } %>
          <div class="form-text text-danger">
            <%= user.errors.detect { |error| error.attribute.eql?(:name) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :city_id, "Kota", style: "display: block", class: "form-label" %>
        <%= form.collection_select :city_id, City.all, :id, :name, { include_blank: "Pilih Kota" }, class: "form-select rounded-4 p-3", required: true %>
        <% if user.errors.any? { |error| error.attribute.eql?(:city) } %>
          <div class="form-text text-danger">
            <%= user.errors.detect { |error| error.attribute.eql?(:city) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :address, "Alamat", style: "display: block", class: "form-label" %>
        <%= form.text_area :address, class: "form-control rounded-4 p-3", placeholder: "Contoh: Jalan Ikan Hiu 33", required: true %>
        <% if user.errors.any? { |error| error.attribute.eql?(:address) } %>
          <div class="form-text text-danger">
            <%= user.errors.detect { |error| error.attribute.eql?(:address) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :phone_number, "No Handphone", style: "display: block", class: "form-label" %>
        <%= form.text_field :phone_number, class: "form-control rounded-4 p-3", placeholder: "contoh: +628123456789", required: true %>
        <% if user.errors.any? { |error| error.attribute.eql?(:phone_number) } %>
          <div class="form-text text-danger">
            <%= user.errors.detect { |error| error.attribute.eql?(:phone_number) }.full_message %>
          </div>
        <% end %>
      </div>

      <div class="mb-4 d-flex gap-5">
        <%= form.submit "Simpan", class: "btn btn-primary w-100 rounded-pill p-3" %>
      </div>
    <% end %>
  </div>
</section>

<script>
  var formAvatarView = document.getElementById('form-avatar-view')
  var formAvatarInput = document.getElementById('form-avatar-input')
  var formAvatar = document.getElementById('form-avatar')
  var formAvatarImage = document.getElementById('form-avatar-image')
  var image;

  formAvatarView.addEventListener('click', function(e) {
    formAvatar.click();
  });

  formAvatar.addEventListener('change', function () {
    if (!!formAvatarImage) {
      formAvatarImage.style["display"] = "none";
    }

    if (!!image) {
      image.remove();
    }

    for (const file of formAvatar.files) {
      image = document.createElement('img');
      image.classList.add("p-0", "img-thumbnail", "img-avatar-profile", "overflow-hidden", "rounded-4", "border-0");
      image.src = URL.createObjectURL(file);
      formAvatarView.prepend(image);
      formAvatarInput.style['display'] = 'none';
    }
  });
</script>
