<%= link_to product_path(product.id), class: "product-card" do %>
  <div class="card px-0 border-0 shadow h-100 pb-4 rounded-4">
    <% if product.images.first.try(:representable?) %>
      <%= image_tag product.images.first.try(:representation, resize_to_limit: [256, 256]), class: "card-img img-product-thumbnail p-3 rounded-4 overflow-hidden" %>
    <% else %>
      <%= image_tag "/placeholder.webp", alt: "Download file", class: "card-img img-product-thumbnail p-3 rounded-4 overflow-hidden" %>
    <% end %>

    <div class="card-body text-decoration-none">
      <h5 class="card-title"><%= product.name.truncate(21) %></h5>
      <p class="card-text text-black-50 text-small"><%= product.category.name %></p>
      <h5 class="card-text">Rp <%= number_with_delimiter(product.price.to_i, delimiter: ".") %></h5>
    </div>
  </div>
<% end %>
