<ul class="navbar-nav">
  <li class="nav-item me-0 me-lg-2 fs-5" aria-current="page">
    <%= link_to products_path, class: "nav-link d-flex align-items-center #{active_class(products_path)}" do %>
      <i class="bi bi-list-ul me-4 me-lg-0"></i>
      <span class="d-block d-lg-none fs-6">Produk Saya</span>
    <% end %>
  </li>

  <li class="nav-item me-0 me-lg-2 fs-5 d-block d-xl-none position-relative">
    <%= link_to notifications_path, class: "nav-link d-flex align-items-center" do %>
      <i class="bi bi-bell me-4 me-lg-0"></i>
      <span class="d-block d-lg-none fs-6">Notifikasi</span>

      <% if unread_notification? %>
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      <% end %>
    <% end %>
  </li>

  <li class="nav-item dropdown me-0 me-lg-2 fs-5 d-none d-xl-block position-relative">
    <a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown">
      <i class="bi bi-bell"></i>

      <% if unread_notification? %>
        <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      <% end %>
    </a>
    <ul class="dropdown-menu notification-dropdown-menu px-4">
      <% if notifications.any? %>
        <% notifications.each_with_index do |notification, index| %>
          <li>
            <%= link_to notification.click_action, class: "notification my-4 px-2 position-relative", "data-notification-id": notification.id, "data-notification-read": notification.read do %>
              <% if notification.image.attached? %>
                <%= image_tag notification.image.representation(resize_to_limit: [128, 128]), class: "notification-image rounded-4 overflow-hidden me-4" %>
              <% else %>
                <%= image_tag "/empty-image.svg", class: "notification-image rounded-4 overflow-hidden me-4" %>
              <% end %>
              <div class="notification-body me-4">
                <div class="notification-subject fs-6 text-black-50"><%= notification.subject %></div>
                <div class="notification-body fs-5"><%= sanitize notification.body %></div>
              </div>
              <div class="notification-timestamp fs-6 text-black-50"><%= notification.created_at.in_time_zone("Asia/Jakarta").strftime("%d %b, %H:%M") %></div>

              <% unless notification.read? %>
                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                  <span class="visually-hidden">New alerts</span>
                </span>
              <% end %>
            <% end %>
          </li>

          <% unless last_notifications?(index, notifications) %>
            <li><hr class="dropdown-divider"></li>
          <% else %>
            <li class="p-2 text-center">
              <%= link_to notifications_path, class: "btn btn-link text-decoration-none" do %>
                Lihat semua notifikasi
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li class="p-2">Tidak ada notifikasi</li>
      <% end %>
    </ul>
  </li>

  <li class="nav-item fs-5 d-block d-lg-none">
    <%= link_to profiles_path, class: "nav-link d-flex align-items-center" do %>
      <i class="bi bi-person me-4 me-lg-0"></i>
      <span class="d-block d-lg-none fs-6">Profil Saya</span>
    <% end %>
  </li>

  <li class="nav-item fs-5 d-block d-lg-none">
    <%= form_with url: destroy_user_session_path, method: "delete" do |form| %>
      <%= button_tag type: 'submit', class: 'nav-link btn btn-link btn-sm text-decoration-none fs-5 logout-button' do %>
        <i class="bi bi-arrow-bar-left me-3"></i>
        <span class="fs-6">Keluar</span>
      <% end %>
    <% end %>
  </li>

  <li class="nav-item dropdown fs-5 d-none d-lg-block">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
      <i class="bi bi-person me-4 me-lg-0"></i>
      <span class="d-block d-lg-none fs-6">Profil Saya</span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to profiles_path, class: "nav-user" do %>
          <div class="d-flex align-items-center justify-content center flex-column py-2">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.representation(resize_to_limit: [400, 400]), class: "img-avatar w-100 rounded-4 mb-2" %>
            <% else %>
              <%= image_tag "/user.svg", class: "img-avatar w-100 rounded-4 mb-2" %>
            <% end %>

            <div class="card-body text-center">
              <div class="fs-5 fw-bold"><%= current_user.nickname %></div>
              <div class="fs-6 text-black-50"><%= current_user.city.try(:name) %></div>
            </div>
          </div>
        <% end %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= form_with url: destroy_user_session_path, method: "delete" do |form| %>
          <%= button_tag type: 'submit', class: 'btn btn-link text-decoration-none' do %>
            <i class="bi bi-arrow-bar-left me-3"></i>
            Keluar
          <% end %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>

<!-- TODO: Move this somewhere convinient -->
<script>
  var notifications = document.querySelectorAll("a.notification")

  notifications.forEach((notification) => {
    if (notification.dataset.notificationRead == "false") {
      notification.addEventListener('click', async function () {
        await fetch(`/notifications/${notification.dataset.notificationId}/read`, {
          credentials: "same-origin",
          method: "PUT"
        });
      });
    }
  })
</script>
