<section class="container-sm">
  <div class="card py-2 px-4 rounded-4 shadow border-0 mt-5">
    <div class="d-flex align-items-center">
      <%= image_tag @from.avatar.representation(resize_to_limit: [400, 400]), class: "img-avatar w-100 rounded-4" %>

      <div class="card-body">
        <div class="fs-5 fw-bold"><%= @from.name %></div>
        <div class="fs-6 text-black-50"><%= @from.city.try(:name) %></div>
      </div>
    </div>
  </div>

  <h5 class="mt-5">Daftar Produkmu yang Ditawar</h5>

  <ul class="offers mt-5">
    <% @offers.each_with_index do |offer, index| %>
      <li class="offer gap-4 mt-5">
        <%= image_tag offer.product.images.first.representation(resize_to_limit: [100,100]), class: "offer-image" %>
        <div class="offer-content">
          <div class="offer-header">
            <h6 class="offer-status text-black-50">
              <%= to_status_text(offer) %>
            </h6>
            <div class="offer-time text-black-50">
              <%= offer.created_at.in_time_zone("Asia/Jakarta").strftime("%d %b, %H:%M") %>
            </div>
          </div>
          <div class="offer-body">
            <h5 class="offer-product-name fw-normal">
              <%= offer.product.name %>
            </h5>
            <h5 class="offer-product-price fw-normal">
              <%= offer.product.price_in_format %>
            </h5>
            <h5 class="offer-price fw-normal">
              Ditawar <%= offer.price_in_format %>
            </h5>
          </div>
          <div class="offer-footer d-flex gap-2 justify-content-end">
            <% if status_button_required?(offer) %>
              <button class="btn btn-outline-primary fw-bold rounded-pill px-4" data-bs-toggle="modal" data-bs-target="#statusModal<%= offer.id %>">Status</button>
              <%= link_to "https://wa.me/#{@from.phone_number}", target: "_blank", class: "btn btn-primary fw-bold rounded-pill px-4" do %>
                Hubungi di <i class="ms-2 bi bi-whatsapp"></i>
              <% end %>
            <% elsif option_button_required?(offer) %>
              <%= form_with model: offer, class: "offer-footer d-flex gap-2 justify-content-end" do |form| %>
                <%= form.radio_button :status, "denied", class: "btn-check", autocomplete: "off", onchange: "this.form.submit()" %>
                <%= form.label :status_denied, "Tolak", class: "btn btn-outline-primary rounded-4 px-5" %>

                <%= form.radio_button :status, "accepted", class: "btn-check", autocomplete: "off", onchange: "this.form.submit()" %>
                <%= form.label :status_accepted, "Terima", class: "btn btn-primary rounded-4 px-5" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>

      <div class="modal" tabindex="-1" id="statusModal<%= offer.id %>">
        <div class="modal-dialog modal-dialog-centered">
          <%= form_with model: offer, class: "modal-content px-4 py-2" do |form| %>
            <div class="modal-header border-0">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <h5 class="fs-5 fw-bold mb-3">Perbarui status penjualan produkmu</h5>
              <div class="form-check">
                <%= form.radio_button :status, "finished", class: "form-check-input me-2" %>
                <%= form.label :status_finished, class: "form-check-label mb-2" do %>
                  Berhasil terjual
                <% end %>
                <p class="text-black-50">Kamu telah sepakat menjual produk ini kepada pembeli</p>
              </div>
              <div class="form-check">
                <%= form.radio_button :status, "cancelled", class: "form-check-input me-2" %>
                <%= form.label :status_cancelled, class: "form-check-label mb-2" do %>
                  Batalkan transaksi
                <% end %>
                <p class="text-black-50">Kamu membatalkan transaksi produk ini dengan pembeli</p>
              </div>
            </div>

            <div class="modal-footer border-0">
              <%= form.submit "Kirim", class: "btn btn-primary p-3 w-100 rounded-4 fw-bold" %>
            </div>
          <% end %>
        </div>
      </div>

      <% unless !index.zero? && index.eql?(@offers.size - 1) %>
        <li><hr class="offers-divider"></li>
      <% end %>
    <% end %>
  </ul>
</section>
