<div class="container">
  <h3 class="fw-bold my-5">Daftar Jual Saya</h3>

  <div class="card py-2 px-4 rounded-4 border-4 border-light mt-5 d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.representation(resize_to_limit: [400, 400]), class: "img-avatar w-100 rounded-4" %>
      <% else %>
        <%= image_tag "/empty-image.svg", class: "img-avatar w-100 rounded-4" %>
      <% end %>

      <div class="py-3 ps-4">
        <div class="fs-5 fw-bold"><%= current_user.name %></div>
        <div class="fs-6 text-black-50"><%= current_user.city.try(:name) %></div>
      </div>

      <%= link_to "Edit" , profiles_path, class: "btn btn-outline-primary rounded-4 px-3 ms-auto" %>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-12 col-lg-3">
      <div class="card border-0 rounded-4 shadow p-4">
        <h5 class="card-title mb-4">Kategori</h5>

        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to products_path, class: all_product_class("nav-link d-flex py-3 border-bottom border-1") do %>
              <i class="bi bi-box me-3"></i>
              <span class="me-auto">Semua Produk</span>
              <i class="bi bi-chevron-right"></i>
            <% end %>

            <%= link_to products_path(product: { sold: false, liked: true }), class: liked_product_class("nav-link d-flex py-3 border-bottom border-1") do %>
              <i class="bi bi-heart me-3"></i>
              <span class="me-auto">Diminati</span>
              <i class="bi bi-chevron-right"></i>
            <% end %>

            <%= link_to products_path(product: { sold: true }), class: sold_product_class("nav-link d-flex py-3") do %>
              <i class="bi bi-currency-dollar me-3"></i>
              <span class="me-auto">Terjual</span>
              <i class="bi bi-chevron-right"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-9 mt-5 mt-lg-0">
      <div class="row g-4">
        <% if all_products? %>
          <div class="col-12 col-lg-4">
            <%= link_to new_product_path, class: "new-product-button h-100 w-100 border-2 rounded-4 text-black-50 d-flex align-items-center justify-content-center" do %>
              <div class="text-center">
                <i class="bi bi-plus display-3"></i>
                <h5 class="fw-normal fs-6">Tambah Produk</h5>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @products.any? %>
          <% @products.each do |product| %>
            <div class="col-12 col-lg-4">
              <%= render "components/product", product: product %>
            </div>
          <% end %>

          <%= will_paginate @products, page_links: false, class: "d-flex gap-4 align-items-center justify-content-center my-5" %>
        <% elsif !all_products? %>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="container d-flex flex-column justify-content-center align-items-center">
              <%= image_tag "/empty-product.svg", class: "img-fluid" %>
              <p class="py-5">Belum ada produkmu yang diminati nih, sabar ya rejeki nggak kemana kok</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
